@font-face
    font-family: 'Abruptly' 
    src: url('./../fonts/AbruptlyRegular-1G430.ttf')

html
    font-family: 'Abruptly', sans-serif
    font-size: 10px

body
    position: relative
    width: 100%
    height: 100vh

    .background__page
        position: fixed
        inset: 0 0 0 0

    .content
        position: relative
        color: #fff
        text-transform: uppercase
        width: 100%
        height: 100%
        overflow: auto

        .content__wish
            position: absolute
            height: max-content
            text-align: center

            @media (max-width: 480px)
                font-size: 2rem
                letter-spacing: 0.5rem
                padding: 3rem 2.5rem
                line-height: 2

            @media (min-width: 481px) and (max-width: 1200px)
                font-size: 2.5rem
                letter-spacing: 0.5rem
                padding: 5rem 10rem
                line-height: 2.4

            @media (min-width: 1201px)
                font-size: 3rem
                letter-spacing: 0.5rem
                padding: 10rem 15rem
                line-height: 3
.snow 
    position: absolute
    top: -10%
    border-radius: 50%
    background-color: white
    box-shadow: 0 0 0 #fff, 0 0 5rem #fff

.d-flex-center
    display: flex
    display: -webkit-flex
    display: -moz-flex
    display: -o-flex
    justify-content: center
    align-items: center


.snowAnimation0 
    animation: snowFall0 linear infinite


.snowAnimation1 
    animation: snowFall1 linear infinite


.snowAnimation2 
    animation: snowFall2 linear infinite


.snowAnimation3 
    animation: snowFall3 linear infinite


.snowAnimation4 
    animation: snowFall4 linear infinite


@keyframes snowFall0 
    0% 
        transform: translate(0vw, 0vh)
  
    100% 
        transform: translate(50vw, 150vh)
  

@keyframes snowFall1 
    0% 
        transform: translate(-10vw, -10vh)
  
    100% 
        transform: translate(60vw, 150vh)
  

@keyframes snowFall2 
    0% 
        transform: translate(10vw, 0vh)
  
    100% 
        transform: translate(40vw, 150vh)
  

@keyframes snowFall3 
    0% 
        transform: translate(0vw, 0vh)
  
    100% 
        transform: translate(40vw, 150vh)

@keyframes snowFall4
    0% 
        transform: translate(0vw, 10vh)
  
    100% 
        transform: translate(30vw, 140vh)

$shooting-time: 3000ms

.night
    position: relative
    width: 100%
    height: 100%
    transform: rotateZ(45deg)


.shooting_star 
    position: absolute
    left: 0
    top: 50%
    height: 2px
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0))
    border-radius: 999px
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1))
    animation: tail $shooting-time ease-in-out infinite, shooting $shooting-time ease-in-out infinite

    &::before 
        content: ''
        position: absolute
        top: calc(50% - 1px)
        right: 0
        height: 2px
        background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0))
        transform: translateX(50%) rotateZ(45deg)
        border-radius: 100%
        animation: shining $shooting-time ease-in-out infinite


    &::after 
        content: ''
        position: absolute
        top: calc(50% - 1px)
        right: 0
        height: 2px
        background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0))
        transform: translateX(50%) rotateZ(45deg)
        border-radius: 100%
        animation: shining $shooting-time ease-in-out infinite
        transform: translateX(50%) rotateZ(-45deg)


    @for $i from 1 through 20 
        &:nth-child(#{$i})
            $delay: random(9999) + 0ms
            top: calc(50% - #{random(400) - 200px})
            left: calc(50% - #{random(300) + 0px})
            animation-delay: $delay
            &::before,
            &::after 
                animation-delay: $delay
        

@keyframes tail 
    0%
        width: 0


    30%
        width: 10rem


    100%
        width: 0



@keyframes shining 
    0%
        width: 0


    50%
        width: 30px


    100%
        width: 0



@keyframes shooting 
    0%
        transform: translateX(0)


    100%
        transform: translateX(300px)



@keyframes sky
    0%
        transform: rotate(45deg)


    100%
        transform: rotate(45 + 360deg)
